@import "variables.scss";

.tituloIndex {
  display: flex;
  flex-direction: column;
  margin: 80px 0 120px 0;
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url(../images/fondotitulo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  h1 {
    color: $color-secundary;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-align: center;
  }
  article {
    h3 {
      color: $color-secundary;
      font-size: 24px;
      font-weight: normal;
      line-height: 70px;
      text-align: center;
      margin-top: 150px;
    }
  }
  article {
    a {
      display: flex;
      justify-content: center;
    }
  }
}

.portfolioIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  width: 100%;
  article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
    width: 70%;
  }
}

.trabajo1 {
  background-image: url(/images/Portfolio1.png);
  background-repeat: no-repeat;
}

.trabajo2 {
  background-image: url(/images/Portfolio2.png);
  background-repeat: no-repeat;
}

.trabajo3 {
  background-image: url(/images/Portfolio3.jpg);
  background-repeat: no-repeat;
}

.trabajo4 {
  background-image: url(/images/Portfolio4.jpg);
  background-repeat: no-repeat;
}

.trabajo5 {
  background-image: url(/images/Portfolio5.jpg);
  background-repeat: no-repeat;
}

.trabajo6 {
  background-image: url(/images/Portfolio6.jpg);
  background-repeat: no-repeat;
}

.trabajo7 {
  background-image: url(/images/Portfolio7.jpg);
  background-repeat: no-repeat;
}

.trabajo8 {
  background-image: url(/images/Portfolio8.jpg);
  background-repeat: no-repeat;
}

.trabajo9 {
  background-image: url(/images/Portfolio9.jpg);
  background-repeat: no-repeat;
}

.colorSuperior {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensaje {
  width: 403px;
  height: 316px;
  a {
    text-decoration: none;
    p {
      opacity: 0;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: $color-secundary;
    }
  }
}

.mensaje:hover {
  div {
    background-color: rgba(0, 0, 0, 0.9);
    transition: background-color 1ms;
    width: 403px;
    height: 316px;
  }
  p {
    opacity: 1;
    transition: opacity 1ms;
  }
}
