@import "variables.scss";

.portfolioIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
    width: 70%;
  }
}

.trabajo1 {
  background-image: url(/images/Portfolio1.png);
  background-repeat: no-repeat;
}
.trabajo2 {
  background-image: url(/images/Portfolio2.png);
  background-repeat: no-repeat;
}

.trabajo3 {
  background-image: url(/images/Portfolio3.jpg);
  background-repeat: no-repeat;
}

.trabajo4 {
  background-image: url(/images/Portfolio4.jpg);
  background-repeat: no-repeat;
}

.trabajo5 {
  background-image: url(/images/Portfolio5.jpg);
  background-repeat: no-repeat;
}

.trabajo6 {
  background-image: url(/images/Portfolio6.jpg);
  background-repeat: no-repeat;
}

.trabajo7 {
  background-image: url(/images/Portfolio7.jpg);
  background-repeat: no-repeat;
}

.trabajo8 {
  background-image: url(/images/Portfolio8.jpg);
  background-repeat: no-repeat;
}

.trabajo9 {
  background-image: url(/images/Portfolio9.jpg);
  background-repeat: no-repeat;
}
.trabajo10 {
  background-image: url(/images/Portfolio10.jpg);
  background-repeat: no-repeat;
}
.trabajo11 {
  background-image: url(/images/Portfolio11.jpg);
  background-repeat: no-repeat;
}
.trabajo12 {
  background-image: url(/images/Portfolio12.jpg);
  background-repeat: no-repeat;
}
.trabajo13 {
  background-image: url(/images/Portfolio13.png);
  background-repeat: no-repeat;
}
.trabajo14 {
  background-image: url(/images/Portfolio14.png);
  background-repeat: no-repeat;
}
.trabajo15 {
  background-image: url(/images/Portfolio15.jpg);
  background-repeat: no-repeat;
}
.trabajo16 {
  background-image: url(/images/Portfolio16.jpg);
  background-repeat: no-repeat;
}
.trabajo17 {
  background-image: url(/images/Portfolio17.png);
  background-repeat: no-repeat;
}
.trabajo18 {
  background-image: url(/images/Portfolio18.jpg);
  background-repeat: no-repeat;
}

.colorSuperior {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensaje {
  width: 403px;
  height: 316px;
}
p {
  opacity: 0;
  font-size: 30px;
  color: $color-secundary;
}

.mensaje:hover {
  div {
    background-color: rgba(0, 0, 0, 0.9);
    transition: background-color 1ms;
    width: 403px;
    height: 316px;
  }
  p {
    opacity: 1;
    transition: opacity 1ms;
  }
}
